<body>
  <h1> Welcome to Filepocket</h1>
  <p> This is my ugly but functional file sharing tool. 
    Looking for something pretty? Go fuck yourself you wont find it here.
    <br>Upload your file below and I'll hand you a link you can share with others.</br> 
  </p> 
    <form action="/api/upload" enctype="multipart/form-data" method="POST">
        <input type="file" id="myFile" name="myFile">
        <input type="submit">
      </form>
  <h2>
    Shit you should know
  </h2>
  <ul>
    <li>The max file upload size is 10Mb</li>
    <li>There is an api availible under /api/upload and it's is compatible with curl (Example: <code>curl -F 'myFile=@path/to/local/file' http(s)://THE_URL_FOR_THIS_SITE/api/upload</code>)</li>
    <li>All the files you upload to this service are publically accessible under /uploads, so don't fuck up and upload anything you wouldnt want anyone else to see. (Assume I WILL steal your private key if I find it in the uploads directory.)</li>
    <li>If you don't read this and fuck up, that's on you.</li>
    <li>If you do read this and fuck up it's STILL on you</li>
  </ul>
</body>